
.full-width{
  width: 100%;
}

.actions-center {
  justify-content: center;
}

.btn-space {
  margin-left: 10px;
}

.centro {
  position: absolute;
  top: 40%;
  left: 45%;
  margin: -130px 0 0 -210px;
  padding:10px;
}

img {
  max-width:400px;
  max-height:300px;
  width: auto;
  height: auto;
}
