mat-card {
  max-width: 40%;
  margin: 2em auto;
}

.min-width {
  width: 90%;
  min-width: 150px;
  margin: 1em auto;
}

.full-width{
  width: 100%;
}

.actions-center {
  justify-content: center;
}

.btn-space {
  margin-left: 10px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.centro {
  position: absolute;
  top: 40%;
  left: 45%;
  margin: -130px 0 0 -210px;
  padding:10px;
}
